<br /><br />
<div class="col-lg-12">
    <h1 style="color:rgb(206, 82, 33); font-style: italic;">
        <marquee behavior="slide" direction="right" scrollamount="10">Welcome Agent!!!</marquee>
    </h1>
    <br />

    <div class="nav">
        <h3>
            <ul>
                <li><a href="http://localhost:4200/add-policyholder"><b>Add Policy Holder</b></a></li>
                <br>
                <br>
                <li><a href="http://localhost:4200/list-policyholder"><b>View Policy Holders</b></a></li>
                <br>
                <br>
                <li><a href="http://localhost:4200/list-policy"><b>View Policies</b></a></li>
                <br>
                <br>
                <li><a href="http://localhost:4200/list-quote"><b>View Quotes</b></a></li>
                <br>
                <br>
                <li><a href="http://localhost:4200/list-property"><b>View Properties</b></a></li>
                <br>
            </ul>
        </h3>
    </div>