<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="text-center">What is Home insurance????</h1>
<pre style="font-size: 130%; font-family: 'Times New Roman', Times, serif ;">

  Homeowners insurance is a form of property insurance that covers losses 
  and damages to an individual's residence, along with furnishings and other 
  assets in the home. Homeowners insurance also provides liability coverage 
  against accidents in the home or on the property.
</pre>
<table style="font-size: 130%; font-family: 'Times New Roman', Times, serif ;">
    <ul>
        <h3>KEY TAKEAWAYS</h3>
        <li>Homeowners insurance is a form of property insurance that covers
            losses and damages to an individual's house and assets in the home. </li>
        <li>The policy usually covers interior damage, exterior damage, loss or
            damage of personal assets, and injury that arises while on the property.</li>
        <li>Every homeowners insurance policy has a liability limit, which determines
            the amount of coverage the insured has should an unfortunate incident occur.</li>
        <li>Homeowners insurance should not be confused with a home warranty or with
            mortgage insurance. </li>
    </ul>
</table>
<div class="container" style="font-size: 130%; font-family: 'Times New Roman', Times, serif ;">
    <div class="row">

        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">

                    <h3>Home Structure/Building Insurance</h3>

                </div>

                <div class="team-back">
                    <span>
                        This type of home insurance covers the structure of your
                        house from any kinds of dangers and risks. In addition to
                        this, the policy also protects any permanent fixtures
                        within the house. This includes your kitchen and bathroom
                        fittings, and also the ceiling/roof of the insured house.
                        Some houses have garages, an outdoor room/house or sheds.
                        This type of insurance usually extends to these structures
                        as well.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">

                    <h3>Public Liability Coverage</h3>

                </div>

                <div class="team-back">
                    <span>
                        If any guests or third party experience damage caused to them
                        or their property inside the insured’s home, then this type
                        of home insurance policy provides coverage against the same.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">

                    <h3>Personal Accident</h3>
                    <!--  <p>Web Designer</p>-->
                </div>

                <div class="team-back">
                    <span>
                        This type of home insurance covers you and your family.
                        A compensation is given in case of permanent disablement
                        or death of the insured person due to accidental or
                        physical injury, even if it has happened anywhere is
                        the world.
                    </span>
                </div>
            </div>
        </div>




    </div>
</div>