<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <h3 style="text-align: center;"><i>Have a happier and safety home</i></h3>
    <div class="container" style="padding: 10px;">
        <img src="./assets/Images/image1.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> &nbsp;
        &nbsp;
        <img src="./assets/Images/image2.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> &nbsp;
        &nbsp;

    </div>
    <div class="container" style="padding: 10px;">
        <img src="./assets/Images/image4.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> &nbsp;
        &nbsp;
        <img src="./assets/Images/image5.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">&nbsp;
        &nbsp;
    </div>
    <div class="container" style="padding: 10px;">
        <img src="./assets/Images/image6.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> &nbsp;
        &nbsp;
        <img src="./assets/Images/image7.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">&nbsp;
        &nbsp;
    </div>
    <div class="container" style="padding: 10px;">
        <img src="./assets/Images/image3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">&nbsp;
        &nbsp;
        <img src="./assets/Images/image9.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> &nbsp;
        &nbsp;
        <img src="./assets/Images/image10.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">&nbsp;
        &nbsp;

    </div>

</body>