<br><br>
<h1 style="color:rgb(206, 82, 33); font-style: italic;">
    <marquee behavior="slide" direction="right" scrollamount="10">Welcome Admin!!!</marquee>
</h1>

<div class="nav">

    <ul>

        <h3>
            <br><br>
            <li><a href="http://localhost:4200/add-agent"><b>Add Agent</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/list-agent"><b>List of Agents</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/add-policyholder"><b>Add Policy Holder</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/list-policyholder"><b>List of Policy Holders</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/list-policy"><b>List of Policies</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/list-quote"><b>List of quotes</b></a></li>
            <br><br>
            <li><a href="http://localhost:4200/list-property"><b>List of properties</b></a></li>
            <br><br>
        </h3>
    </ul>
</div>