<br><br>
<h3><i>Forgot your password!!! No worries we help you Retrieve it.</i></h3>
<br><br>
<div class="container">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <label for="userName">User name :</label>
        <input type="text" formControlName="userName" class="form-control" id="userName">
       
        <div *ngIf="submitted && forgotForm.controls.userName.errors" class="error">
            <div class="text-danger" *ngIf="forgotForm.controls.userName.errors.required">userName is required</div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Get Password</button> &nbsp; &nbsp;
       <!-- {{inform}}-->
        <a class="btn btn-warning" href="">Back to Login</a>
    </form>
</div>