<div class="col-lg-12">
    <h3>List of Properties</h3>
    <br/>
    <a class="btn btn-warning" href="admin">Back </a> &nbsp;&nbsp;
    <a class="btn btn-danger" href="home-agent">Cancel </a>
    <br/><br/>
    <table class="table table-striped table-responsive table-hover" style="background-color:snow; width:auto;height:auto;">
        <thead>
            <tr>
                <th class="text-hide">Id</th>
                <th>Property ID</th>
                <th>marketValue</th>
                <th>yearBuilt </th>
                <th>squareFootage</th>
                <th>dwellingStyle</th>
                <th>roofMaterial</th>
                <th>garageType</th>
                <th>fullBathCount</th>
                <th>halfBathCount</th>
                <th>hasSwimmingPool</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let property of properties">
                <td class="text-hide">{{property.id}}</td>
                <td>{{property.propertyId}}</td>
                <td>{{property.marketValue }}</td>
                <td>{{property.yearBuilt}}</td>
                <td>{{property.squareFootage}}</td>
                <td>{{property.dwellingStyle }}</td>
                <td>{{property.roofMaterial}}</td>
                <td>{{property.garageType}}</td>
                <td>{{property.fullBathCount }}</td>
                <td>{{property.halfBathCount }}</td>
                <td>{{property.hasSwimmingPool }}</td>
            </tr>
            <tr *ngIf="!properties || properties.length==0">
                <th colspan="5">
                    <p class="text-right text-danger">Sorry No property Data Available</p>
                </th>
            </tr>
        </tbody>
    </table>
</div>