<div class="topnav">
  <div style="color:white; padding: 10px;">
    <img src="../assets/Images/home-insurance-png-5-png-image-home-insurance-png-346_346.png"
      style="float: left; width: 150px; height: 120px">
    <h1 style="text-align:center; margin-top: 20px; font-style: oblique; color:black;">Home Insurance Management System
    </h1>
  </div>
  
  <div style="float: right; color: black;">
    <a href="http://localhost:4200/">Home</a>
    <a href="http://localhost:4200/contact-us">Contact</a>
    <a href="http://localhost:4200/gallery">Gallery</a>
    <a href="http://localhost:4200/about">About</a>
    <a href="">Sign out</a>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <img src="../assets/Images/home-insurance-banner-d.jpg" style="height: auto; width: 1350px;">
</div>
<div style="background-color: blanchedalmond">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
      <br><br><br>
    </div>
  </div>
</div>
</div>

<section class="coverd-n-not" id="coverd-n-not" style="background-color:rgb(235, 181, 101)">
  
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="covered-head-txt" style="text-align: center;">What&rsquo;s Covered in Home Insurance Policy?
        </h2>
      </div>
      <div class="col-md-4 text-center covered-div"><img src="../assets/Images/house-fire.svg" style="width: 50px;height: 50px;"
          alt="Fire" title="Fire" /><br /><b>Fire</b>
        <p class="cover-txt">Fire can annhiliate your dream home. We cover for the damages due to fire so that you can
          rebuild your home.</p>
      </div>
      <div class="col-md-4 text-center covered-div"><img src="../assets/Images/house-theft.svg" style="width: 50px;height: 50px;"
          alt="Burglary & Theft" title="Burglary & Theft" /><br /><b>Burglary &amp; Theft
        </b>
        <p class="cover-txt">Thieves can run away with your precious jewelry or other valuables. You can rest easy if
          you get them covered </p>
      </div>
      <div class="col-md-4 text-center covered-div"><img src="../assets/Images/breakdown.svg" style="width: 50px;height: 50px;"
          alt="Electrical Breakdown" title="Electrical Breakdown" /><br /><b>Electrical Breakdown
        </b>
        <p class="cover-txt">Can't imagine our lives without appliances... insure them to get coverage in event of
          electrical breakdown</p>
      </div>
      <div class="col-md-4 text-center covered-div"><img src="../assets/Images/house-calamite.svg" style="width: 50px;height: 50px;"
          alt="Natural Calamities & Manmade Hazards" title="Natural Calamities & Manmade Hazards" /><br /><b>Natural
          Calamities &amp; Manmade Hazards
        </b>
        <p class="cover-txt">Troubled times can affect your home as well as your peace of mind. Keep it financially
          secure with our home shield insurance plan against floods, cyclones, strikes, riots, terrorism, and malicious
          acts.</p>
      </div>
      <div class="col-md-4 text-center covered-div"><img
          src="../assets/Images/alternate-accomodation.svg" style="width: 50px;height: 50px;" alt="Alternate Accommodation"
          title="Alternate Accommodation" /><br /><b>Alternate Accommodation </b>
        <p class="cover-txt">Get shifting expenses, rent for alternative/hotel accommodation, emergency purchases, and
          brokerage in case your home becomes unfit for living because of any covered cause of loss. </p>
      </div>
      <div class="col-md-4 text-center covered-div"><img
          src="../assets/Images/accidental-damage.svg" style="width: 50px;height: 50px;" alt="Accidental Damage"
          title="Accidental Damage" /><br /><b>Accidental Damage</b>
        <p class="cover-txt">Just spent a fortune on fixtures and sanitary fittings? Stay worry-free by securing them
          against accidental damage with our home insurance plans.
        </p>
      </div>
    </div>
  </div>
</section>
<div style="background-color:chocolate;width: 100%; height: 100%; text-align: center;bottom: 0; font-style: italic;">
  <!-- <footer><span class="text-danger"><strong>
        <pre><br><h6>
        Home Insurance Cover              Get all your premiums back at the          Flexibility to choose
        during the policy                 end of the payout period under Long        premium payment term or
        term                      Term Income and Deferred Income variants      policy term   
      </h6></pre>
      </strong></span></footer> -->
  <a href="http://localhost:4200/about" style="color: black;">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://localhost:4200/gallery" style="color: black;">Gallery</a>&nbsp;&nbsp;&nbsp;
  <div class="col-sm">
    <table align="center">
      <tr>
        <td colspan="5">
          <!-- <p><strong>Follow Us On</strong></p> -->
          <div class="h2">Help us spread the Word</div>
          <div class="h4">Follow, like, tweet or post. We Would love to interact with you</div>
        </td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/" class="fa fa-facebook"></a></td>
        <td><a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a></td>
        <td><a href="https://www.instagram.com/" class="fa fa-instagram"></a></td>
        <td><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></td>
        <td><a href="https://www.google.com/" class="fa fa-google"></a></td>
      </tr>
    </table>
  </div>

  <pre style="text-align: center;"><h5>
    Copyright ©  Home Insurance System 
</h5></pre>

</div>